

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins"; 
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
 
  margin: 20px auto;
  padding: 20px 0;
}

.navbar-left {
 
  display: flex;
  gap: 40px;
}
.navbar-left-title {
 
  font-family: "Indie Flower";
  text-decoration: none;
  line-height: 39px;
  font-size: 44px;
  color: rgb(22, 60, 22);
}
.navbar-left-title:hover {
  
  
  transform: scale(1.1);
  transition: ease 0.5s; 
}

.navbar-left-menu {
  
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 20px;
}
.navbar-left-menu a {
  text-decoration: none;
  font-size: 18px;
  color: gray;
}
.navbar-left-menu a:nth-child(1) {
  color: black;
  font-weight: 700;
}
.navbar-left-menu a:hover {
  color: green;
}


.navbar-right {
 
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-right i {
  cursor: pointer;
  font-size: 22px;
}
.navbar-right i:hover {
  color: gray;
  transform: scale(1.2);
  transition: ease 0.5s;
}

/* BANNER */
.banner {
  display: flex;
  background-color: #c1dcdc;
  width: 90%;
  margin: auto;
  border-radius: 20px;
}
.banner-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px 0 40px 50px; 
  gap: 40px;
  z-index: 2;
  
}
@media screen and (max-width: 980px) {
  .banner-left-title {
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;
    padding: 10px;
  }
  .banner-left-content {
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;
    padding: 10px;
  }
}
.banner-left-title {
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  width: 480px;
}
.banner-left-content {
  display: flex;
  gap: 50px;
}
.contents:nth-child(1) {
 
  border-right: 1px solid black;
  padding-right: 50px;
}
.categories-banners-card {
  transition: transform 0.3s ease;
}

.categories-banners-card:hover {
  transform: scale(1.05);
}
.product-cards{
  transition: transform 0.3s ease;
}
.product-cards:hover {
  transform: scale(1.05);
}
.more{
  transform: scale(1.05);

}
.more:hover{
  transform: scale(1.05);
  background-color: aqua;

}


.contents p {
  font-size: 32px;
  font-weight: 600;
}
.contents span {
  font-size: 18px;
}
.banner-left-search {
  background-color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  border-radius: 15px;
}
.banner-left-search input {
  border: none; 
  outline: none; 
  width: 80%;
  font-size: 18px;
}
.banner-left-search i {
  background-color: #c1dcdc;
  padding: 8px 10px;
  border-radius: 10px;
}

.banner-right {
  width: 100%;
  position: relative;
}
.banner-right-bg {
  position: absolute; 
  background-color: gray;
  width: 400px;
  height: 360px;
  bottom: 0; 
  right: 10%;
  border-radius: 50% 20% 0px 50%; 
}
.banner-right-bg img {
  position: absolute;
  top: -130px;
  transform: scaleX(-1);
}

/* PRODUCTS */
.product {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
}

.product-title {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 80%;
  text-align: center;
  margin: auto;
  gap: 10px;
  margin-top: 40px;
}
.more {
  background-color: #c1dcdc;
  border: none;
  padding: 10px;
  border-radius: 15px;
}

.product-card {
 
  display: flex;
  gap: 30px;
  font-size: 18px;
  width: 100%;
}
.product-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.product-cards img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.product-cards p {
  font-weight: 600;
  font-size: 22px;
  margin-top: 20px;
}
.product-cards span {
  color: gray;
  font-size: 18px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(134, 126, 126, 0.276);
  width: 100%;
  padding: 20px 0;
}


.about-title h1{
    font-size: 32px;
    text-align: center;
}
.about-title p{
    font-size: 18px;
    color: gray;
}
.about-card {
  display: flex;
  width: 90%;
  margin: 30px 0;
  gap: 20px;
}
.about-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
}

.about-cards i{
    font-size: 42px;
    background-color: #c1dcdc;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.about-cards p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-cards span{
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}


/* KATEGORILER */
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 20px auto;

}

.categories-title{
    margin-bottom: 30px;
}

.categories-title p{
    text-align: center;
}
.categories-title h1{
    font-weight: 700;
    font-size: 32px;
}
.categories-banners{
    display: flex;
    width: 100%;
    gap: 20px;
}

.categories-banners-card{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
   
}
.categories-banners-card img{
    width: 100%;
}
.categories-banners-card h1{
    text-align: center;
}
.categories-banners-card span{
    text-align: center;
    color: gray;
    width: 100%;
}


/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    background-color: #C1DCDC;
    width: 100%;
    margin: auto;
    justify-content: space-between;
  }
  .footer-left {
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media only screen and (min-width: 546px) and (max-width: 1024px) {
    .footer-left {
      margin: auto;
      text-align: center;
    }
  }
  @media only screen and (max-width: 545px) {
    .footer-left {
      margin: auto;
      text-align: center;
    }
  }
  .footer-left h1 {
    font-family: "Indie Flower";
    margin: 0;
  }
  @media only screen and (min-width: 546px) and (max-width: 1024px) {
    .footer-left h1 {
      font-size: 52px;
    }
  }
  @media only screen and (max-width: 545px) {
    .footer-left h1 {
      font-size: 52px;
    }
  }
  .footer-left p {
    margin: 0;
    font-size: 18px;
    color: rgba(30, 30, 30, 0.5);
  }
  .footer-left-social {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  @media only screen and (min-width: 546px) and (max-width: 1024px) {
    .footer-left-social {
      justify-content: center;
    }
  }
  .footer-left-social a {
    color: #566060;
    padding: 20px;
    border: 1px solid rgba(30, 30, 30, 0.5);
    border-radius: 50%;
  }
  .footer-left-social a:hover {
    transform: scale(1.1);
    color: black;
  }
  .footer-left-rights {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 545px) {
    .footer-left-rights {
      font-size: 13px;
    }
  }
  .footer-right {
    display: flex;
    flex-direction: row;
    padding: 20px 80px;
  }
  @media only screen and (min-width: 546px) and (max-width: 1024px) {
    .footer-right {
      display: none;
    }
  }
  @media only screen and (max-width: 545px) {
    .footer-right {
      display: none;
    }
  }
  .footer-right ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-right ul li {
    list-style-type: none;
    font-size: 18px;
    font-family: "Poppins";
    cursor: pointer;
  }
  .footer-right ul li:nth-child(1) {
    font-weight: 800;
  }
  .footer-right ul li:hover {
    transform: scale(1.1);
    color: gray;
  }
  
@media screen and (max-width: 545px) {
    .categories-banners-card h1{
        font-size: 20px;
    }
    .categories-banners-card span{
        font-size: 15px;
    }
}